In [ ]:
library(tidyverse)

In [ ]:
data2 <- read_csv("/content/Lesson_10_EJ_Data.csv")
head(data2)

Rows: 2294 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): State, Part_Sec, Part_Position, types
dbl (3): Year, Month, Satem_Num

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  State Year Month Satem_Num Part_Sec Part_Position     types
1 MD    2011 10     5        APP      Public Interest 1 Ann
2 MD    2011 10     6        APP      Public Interest 1 Ann
3 MD    2011 10     7        DEL      Staff             Discuss
4 MD    2011 10     8        APP      Public Interest 1 Discuss
5 MD    2011 10     9        DEL      Staff             Discuss
6 MD    2011 10    10        DEL      Staff             Discuss

In [ ]:
 data3 <- data2 %>%
  group_by(Year, Part_Sec, Part_Position)%>%
  summarise(t_statm = n()) 

head(data3)

`summarise()` has grouped output by 'Year', 'Part_Sec'. You can override using
the `.groups` argument.

  Year Part_Sec Part_Position          t_statm
1 2011 APP      Affected Communities 1  7
2 2011 APP      Public Interest 1      12
3 2011 APP      Public Interest 10      2
4 2011 APP      Public Interest 2       1
5 2011 APP      Public Interest 3       4
6 2011 APP      Public Interest 4       2

In [ ]:
 data4 <- data3 %>%
  ungroup() %>%
  group_by(Year, Part_Sec) %>%
  summarise(sd_statm = sd(t_statm), mean_statm = mean(t_statm))

head(data4)

`summarise()` has grouped output by 'Year'. You can override using the
`.groups` argument.

  Year Part_Sec sd_statm  mean_statm
1 2011 APP       4.949747  5.50000
2 2011 DEL      11.966620  8.80000
3 2012 APP      12.256866 14.69231
4 2012 DEL      20.263737 20.57143
5 2013 APP      19.021041 17.00000
6 2013 DEL      40.160170 21.37500

In [ ]:
ggplot(data = data4, mapping = aes(x = Year, y = mean_statm, group = Part_Sec)) +
  geom_line(aes(color = Part_Sec, linetype = Part_Sec), size=1)

In [ ]:
ggplot(data = data4, mapping = aes(x = Year, y = mean_statm, group = Part_Sec)) +
  geom_line(aes(color = Part_Sec, linetype = Part_Sec), size=1) +
  geom_errorbar(aes(ymin=(mean_statm-sd_statm), ymax=(mean_statm+sd_statm),color = Part_Sec), width=.2, position = position_dodge(width = 0.2))

In [ ]:
ggplot(data = data4, mapping = aes(x = Year, y = mean_statm, group = Part_Sec)) +
  geom_line(aes(color = Part_Sec, linetype = Part_Sec), size=1) +
  geom_errorbar(aes(ymin=(mean_statm-sd_statm), ymax=(mean_statm+sd_statm),color = Part_Sec), width=.2, position = position_dodge(width = 0.2)) + 
  scale_color_manual(values=c("#999999", "red"))

In [ ]:
ggplot(data = data4, mapping = aes(x = Year, y = mean_statm, group = Part_Sec)) +
  geom_line(aes(color = Part_Sec, linetype = Part_Sec), size=1) +
  geom_errorbar(aes(ymin=(mean_statm-sd_statm), ymax=(mean_statm+sd_statm),color = Part_Sec), width=.2, position = position_dodge(width = 0.2)) + 
  scale_color_manual(values=c("#999999", "red")) +
  scale_x_continuous(n.breaks=11)

In [ ]:
ggplot(data = data4, mapping = aes(x = Year, y = mean_statm, group = Part_Sec)) +
  geom_line(aes(color = Part_Sec, linetype = Part_Sec), size=1) +
  geom_errorbar(aes(ymin=(mean_statm-sd_statm), ymax=(mean_statm+sd_statm),color = Part_Sec), width=.2, position = position_dodge(width = 0.2)) + 
  scale_color_manual(values=c("#999999", "red")) +
  scale_x_continuous(n.breaks=11) + 
    labs(
      title = "Statements made by each sector across time",
      x = "Years",
      y = "Number of Statemetns per Year")+ 
    theme(plot.title = element_text(face = "bold", size =14, hjust = 0.5))

Exercise 2

In [ ]:
 data5 <- data2 %>%
  group_by(Year, Part_Sec, Part_Position, types) %>%
  summarise(t_statm = n())

head(data5)

`summarise()` has grouped output by 'Year', 'Part_Sec', 'Part_Position'. You
can override using the `.groups` argument.

  Year Part_Sec Part_Position          types      t_statm
1 2011 APP      Affected Communities 1 Ann        1
2 2011 APP      Affected Communities 1 Ask_Answer 5
3 2011 APP      Affected Communities 1 Discuss    1
4 2011 APP      Public Interest 1      Ann        2
5 2011 APP      Public Interest 1      Ask_Answer 5
6 2011 APP      Public Interest 1      Discuss    5

In [ ]:
 data6 <- data5 %>%
  ungroup() %>%
  group_by(Year, Part_Sec, types) %>%
  summarise(sd_statm = sd(t_statm), mean_statm = mean(t_statm))

head(data6)

`summarise()` has grouped output by 'Year', 'Part_Sec'. You can override using
the `.groups` argument.

  Year Part_Sec types      sd_statm mean_statm
1 2011 APP      Ann        0.487950 1.285714
2 2011 APP      Ask_Answer 3.345810 3.222222
3 2011 APP      Discuss    1.618347 2.428571
4 2011 DEL      Ann        7.071068 6.000000
5 2011 DEL      Ask_Answer 1.707825 2.750000
6 2011 DEL      Discuss    5.630275 4.200000

In [ ]:
ggplot(data = data6, mapping = aes(x = Year, y = mean_statm, group = Part_Sec)) +
  geom_line(aes(color = Part_Sec, linetype = Part_Sec), size=1) +
  geom_point(aes(color = Part_Sec)) + 
  geom_errorbar(aes(ymin=(mean_statm-sd_statm), ymax=(mean_statm+sd_statm),color = Part_Sec), width=.1) + 
  scale_color_manual(values=c("#999999", "red"))+
  scale_x_continuous(n.breaks=11)+ 
    labs(
      title = "Types of statements made by each sector across time",
      x = "Years",
      y = "Number of Statemetns per Year")+ 
    theme(plot.title = element_text(face = "bold", size =14, hjust = 0.5))

In [ ]:
ggplot(data = data6, mapping = aes(x = Year, y = mean_statm, group = Part_Sec)) +
  geom_line(aes(color = Part_Sec, linetype = Part_Sec), size=1) +
  geom_point(aes(color = Part_Sec)) + 
  geom_errorbar(aes(ymin=(mean_statm-sd_statm), ymax=(mean_statm+sd_statm),color = Part_Sec), width=.1) + 
  scale_color_manual(values=c("#999999", "red"))+
  scale_x_continuous(n.breaks=11)+ 
  facet_wrap( ~ types, ncol=1)+ ### make a graph for each type of statement
    labs(
      title = "Types of statements made by each sector across time",
      x = "Years",
      y = "Number of Statemetns per Year")+ 
    theme(plot.title = element_text(face = "bold", size =14, hjust = 0.5))