# Lesson #3 -- PY4E CH 5

This lesson will work through Iterations using While functions and For Loops in Python.


First, let's start out by creating a basic while function.

In [ ]:
number = 1

while number < 10:
  print(number)
  number = number + 1

print('You have made it to 10')

1
2
3
4
5
6
7
8
9
You have nade it to 10

In this iteration, we start with the value of number as 1, print the current value, and added 1 through each iteration. When the conditional execution is false, the *while* function leaves the loop and prints the final string.

What should I do if I want to print '10' before leaving the loop?

We can change the conditional statement:

In [ ]:
number = 1

while number <= 10:
  print(number)
  number = number + 1

print('You have made it to 10')

1
2
3
4
5
6
7
8
9
10
You have nade it to 10

Additionally, we can write loops that are Semantically false:

In [ ]:
number = 1

while number <= 10:
  print(number)
  number = number - 1  # change from '+' to '-'

print('You have made it to 10')

In this case, we have created an infinite loop. Given the function in the loop:
```
  number = number - 1
```
...the evaluation will always be true; therefore the iteration will run infinitely. 

Thankfully we can stop the function by pressing the 'stop' button or the 'square' button that replaces the 'play' button.

#For Loops

Next, let's move to For Loops. We can start with a list of integers.

In [ ]:
height = [5.4,7,6.2,5.9,6,5]

# note: we are using the brackets here and not parentheses. This is letting 
# python know that each of these six integers are not just values, but they are 
# values that are organized in a list.

Say our goal is to find the mean of these six integers. 

We could do this how we have in the pastâ€”assign each of these values to a variable, add these variables, and divide by six.

But can we create a function that loads in whatever list we create and assign to height and find the mean without having to change our code each time? 

We can do this by creating an iteration function or a for loop.

So, as we know, mean is the total of the variables in sample divided by the number of variables included in sample. 

Let us start by coding and iteration function that calculated the total.

First, we need to define the variable total as zero.

In [ ]:
height = [5.4,7,6.2,5.9,6,5]
total = 0

the variables are the same

Second, we must create our for loop.

In [ ]:
height = [5.4,7,6.2,5.9,6,5]
total = 0
for itervar in height:   # itervar is a placeholder variable for the iteration variable
	m.total = total + itervar			# of the current variable in the list the variable is on.
print(m.total)

# Before I run script, can some tell me why we need to define total 
# as zero before the iteration?

NameError: ignored

In the for loop we are calling the variable total. If we do not define it first, python has no starting variable to call.

Does anyone see the problem after I run the code?

In [ ]:
height = [5.4,7,6.2,5.9,6,5]
total = 0
for itervar in height:
	total = total + itervar	 # to iterate, we must have the same variable on the 
print(total)                   # left and right side of the '='

35.5

To calculate mean we also need to know how many values are in our list, so we must add a count to our for loop.

In [ ]:
height = [5.4,7,6.2,5.9,6,5]
total = 0
count = 0
for itervar in height:			
	total = total + itervar	
	count = count + 1	#again, we have count on both the left and right of the equal sign
print(total)
print(count)

35.5
6

Now, for each iteration we go through the loop, we are also adding 1 to the variable count. 

Finally, we will calculate the mean.

In [ ]:
height = [5.4,7,6.2,5.9,6,5]
total = 0
count = 0
for itervar in height:			
	total = total + itervar	
	count = count + 1	
	mean = (total/count)
print(total)
print(count)
print(mean)

35.5
6
5.916666666666667

Why do I not need to create a variable before the iteration function as I did for total and count?

The variables that make up mean are defined by the function itself.


Additionally, we can put the print functions in the iteration function itself.

In [ ]:
height = [5.4,7,6.2,5.9,6,5]
total = 0
count = 0
for itervar in height:
  total = total + itervar	
  count = count + 1	
  mean = (total/count)
  print(' ')
  print(total)
  print(count)
  print(mean)

5.4
1
5.4

12.4
2
6.2

18.6
3
6.2

24.5
4
6.125

30.5
5
6.1

35.5
6
5.916666666666667

What is the output showing us now?
We are receiving output for each iteration of the function.

While we can make mathematical calculations using iterations, we can also place conditional functions in for loops.

Let us first take out print functions back out of the iteration.

In [ ]:
height = [5.4,7,6.2,5.9,6,5]
total = 0
count = 0
for itervar in height:			
	total = total + itervar	
	count = count + 1	
	mean = (total/count)
print(total)
print(count)
print(mean)

35.5
6
5.916666666666667

We might want to know how many individuals in this group are tall. 

We might also assume, since we just calculated the mean, that people taller than the mean are tall and those shorter are considered short. 

So, we want to create an iteration that moves through our list and counts if the iteration variable is greater than or equal to our mean.

In [ ]:
height = [5.4,7,6.2,5.9,6,5]
total = 0
count = 0
for itervar in height:			
	total = total + itervar	
	count = count + 1	
	mean = (total/count)
print(total)
print(count)
print(mean)

tall_count = 0
for X in height:
  if X >= mean:	 #Given what we learned last week, can someone help me write the conditional function?
    tall_count = tall_count + 1 	#Given how we wrote the count function above, can someone suggest how this count function?
print(tall_count, 'people taller than the mean')

35.5
6
5.916666666666667
3 people taller than the mean

Add a bunch of values to our list

In [ ]:
height = [5.4,7,6.2,5.9,6,5,4.9,7.1,5.7,5.3,6.3]
total = 0
count = 0
for itervar in height:			
	total = total + itervar	
	count = count + 1	
	mean = (total/count)
print(total)
print(count)
print(mean)

tall_count = 0
for X in height:
  if X >= mean:	 
    tall_count = tall_count + 1 	
print(tall_count, 'people taller than the mean')

64.8
11
5.890909090909091
6 people taller than the mean


#A Note about this week's exercise
One last thing that I want to bring up and that you will need for your homework.

You have read about other stored functions in Python that you can call up. You will need to use the math functions this week. Specifically you will need the math.sqrt function this week.

In [ ]:
import math
x = 25
y = math.sqrt(x)
print(y)

5.0